* {
    font-size: larger;
    text-align: center;
}

body{
    background: rgb(4, 4, 45);
    color: white;
    font: 11pt Tahoma;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
}

tr:nth-child(even) {
    background-color: gray;
}